{% extends "Home.html" %}
<!--  -->
{% block MusicListeningArea %} {%endblock MusicListeningArea%}
<!--  -->
{% block LoginSignupPage %} {% endblock LoginSignupPage %}
<!--  -->
{% block Previews %}{% endblock Previews %}
<!--  -->
{% block Footer %} {% endblock Footer %}
<!--  -->
<!--  -->
{% block UserProfile %}
<!-- Csslink  -->
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='/CSS/UserProfile/UserProfile.css') }}"
/>
<!--  -->
<section class="UserProfile">
  <section class="ProfileArea">
    <div class="UserProfileBox">
      <div class="UserProfileImage">
        <img
          src="{{ url_for('static',
        filename='Assets/userimage/' + current_user.image_file) }}"
          alt="UserImage"
          class="UserImage Img"
        />
      </div>
      <span class="UserNameDisplay">{{current_user.username.upper()}}</span>
    </div>
  </section>
  <section class="OtherArea"></section>
</section>
{% endblock UserProfile %}
