.Nav-Bar {
  background-color: transparent;
  position: sticky;
  padding: 15px 0;
  top: 0;
  z-index: 15;
  width: 80%;
  -webkit-transition: width 0.3s ease-in-out;
  transform: width 0.3s ease-in-out;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.Nav-Bar.Nav-Bar-Transform {
  background-color: white;
  color: black;
  width: 100%;
}

.Listening-Area {
  margin: 0 auto;
  height: 80vh;
  background-color: var(--clr-main-two);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  overflow: hidden;
}

/* Lsitening Button */
.Circular-Recorder {
  z-index: 5;
  height: 290px;
  width: 290px;
  z-index: 11;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
}
.Circle-Layer {
  position: absolute;
  height: 280px;
  width: 280px;
  background-color: rgba(8, 242, 211, 0.67);
  opacity: 0.4;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(0, 154, 178, 0.7);
}
.Ellipse-One {
  z-index: 1;
}
.Ellipse-Two {
  z-index: 2;
  height: 210px;
  width: 210px;
  opacity: 0.4;
}
.Ellipse-Three {
  z-index: 3;
  height: 180px;
  width: 180px;
}
.Circle-Layer-Logo {
  z-index: 4;
}

/* Animations */

.Ellipse-One.Listening {
  animation-name: Pulsing1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.66, 0, 0, 1);
  transition: all 500ms ease-out;
}
@keyframes Pulsing1 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
    box-shadow: 0 0 0 80vh rgba(232, 76, 61, 0);
  }
}
.Ellipse-Two.Listening {
  animation-name: Pulsing2;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.66, 0, 0, 1);
  transition: all 500ms ease-out;
  transform: scale(1);
}
@keyframes Pulsing2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
    box-shadow: 0 0 0 40vh rgba(232, 76, 61, 0);
  }
}
.Ellipse-Three.Listening {
  animation-name: Pulsing3;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.66, 0, 0, 1);
  transition: all 500ms ease-out;
  transform: scale(1);
}
@keyframes Pulsing3 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.15);
    box-shadow: 0 0 0 20vh rgba(232, 76, 61, 0);
  }
}
.Circle-Layer-Logo.Listening {
  animation-name: RotatingLogo;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
  transition: all 500ms ease-out;
}
@keyframes RotatingLogo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Hamburger Window */
.Hamburger-Window {
  position: fixed;
  z-index: 16;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0);
  visibility: hidden;
  transition: all 250ms ease-in;
  transform: translateX(100%);
  opacity: 0;
}
.Hamburger-Window:target {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}
.Hamburger-Window-NavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
  margin-top: 14.5px;
  /* height: 60px; */
  width: 100%;
  background-color: transparent;
}
.Hamburger-Window-NavBar .Logo {
  filter: invert(100%);
}
.Hamburger-Window-Close {
  height: 35px;
  width: 35px;
  margin: 0 15px;
  float: right;
  background-color: transparent;
  background-size: fit;
  content: url(../Assets/x-solid.svg);
  filter: invert(100%);
}
.Hamburger-Content {
  margin: 18% 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: left;
}
.Hamburger-Items-List {
  color: white;
  text-decoration: none;
  font-size: 30px;
  padding: 12px 0px;
}
.Hamburger-Content a:hover {
  color: #06f19f;
}
.Signin-Box {
  display: flex;
  background-color: #1a1a1a;
  border-radius: 20px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.Hamburger-Signin-Description {
  padding: 10px;
  width: 60ch;
  color: white;
  text-align: justify;
}
.Signin-Box .Nav-Bar-Signup {
  display: flex !important;
  height: 40px;
  background-color: #08f;
  border-radius: 8px;
  padding: 0 20px;
  margin: 0 15px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  color: black;
}
.Signin-Box .Nav-Bar-Signup:hover {
  background-color: #06f19f;
}

.Footer {
  height: 150px;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.Footer__Title {
  margin: 0 10px;
  font-size: 40px;
}

/* Small Screen */
@media (min-width: 100px) and (max-width: 640px) {
  .Nav-Bar {
    width: 100%;
  }
  .Logo-Box {
    flex: 1 1 100%;
    height: 40px;
    width: 40px;
    min-width: 40px;
    margin-left: 15px;
  }
  .Logo {
    width: 40px;
    min-width: 40px;
  }

  .Nav-Items {
    display: none;
  }

  .Search-Area {
    background-color: #26c2ff;
    border-radius: 10px;
    display: flex;
    margin-right: 10px;
    color: white;
  }
  .Search-Box {
    /* display: none; */
    padding-left: 10px;
    outline: none;
    color: white;
    margin: 0 auto;
    max-width: 180px;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    font-size: 20px;
  }
  .Search-Button {
    margin: 0 10px;
    width: 40px;
  }
  .Search-Button > .Img {
    height: 80%;
    width: 100%;
    transition: all 500ms ease-in-out;
  }
  .Search-Button > .Img:hover {
    transform: scale(1.1);
    filter: invert(100%);
  }

  .Toggle-Theme {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .Toggle-Theme > .Img {
    width: 30px;
  }
  .Toggle-Theme > .Img.ThemeChanged {
    content: url(../Assets/sun-solid.svg);
  }

  .Nav-Bar-Signup {
    display: none;
  }

  .Hamburger {
    margin: 0px 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .Hamburger > .Img {
    width: 30px;
  }

  .Circular-Recorder {
    display: none;
  }

  /* Gooey Animation */
  .Gooey {
    position: absolute;
    z-index: 1;
    background-image: linear-gradient(120deg, #34f0b1 0%, #d9ff00 100%);
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    width: 150px;
    height: 144px;
    transform-style: preserve-3d;
    /* outline: 1px solid transparent; */
    will-change: border-radius;
  }
  .Gooey.Listening,
  .Gooey.Listening:before,
  .Gooey.Listening:after {
    animation: morph 3s linear infinite;
  }
  .Gooey:before,
  .Gooey:after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    box-shadow: 5px 5px 89px rgba(0, 255, 200, 0.21);
    will-change: border-radius, transform, opacity;
    animation-delay: 200ms;
    background-image: linear-gradient(
      120deg,
      rgba(0, 255, 225, 0.55) 0%,
      rgb(0, 255, 174) 100%
    );
  }
  .Gooey:before {
    /* animation: morph 3s linear infinite; */
    opacity: 0.21;
    animation-duration: 1.5s;
  }
  .Gooey:after {
    /* animation: morph 3s linear infinite; */
    animation-delay: 400ms;
    opacity: 0.89;
    line-height: 120px;
    text-indent: -21px;
  }
  @keyframes morph {
    0%,
    100% {
      border-radius: 42% 58% 70% 30% / 45% 65% 55% 55%;
      transform: translate3d(6px, 8px, 12px) rotateZ(0.01deg);
      transform: scale(0.8);
    }
    34% {
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
      transform: translate3d(-6px, 15px, 10px) rotateZ(0.02deg);
      transform: scale(0.6);
    }
    50% {
      opacity: 0.89;
      transform: translate3d(0, 0, 0) rotateZ(0.01deg);
      transform: scale(0.69);
    }
    67% {
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
      transform: translate3d(6px, -13px, -15px) rotateZ(0.2deg);
    }
  }
  @keyframes fadeIn {
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }

  .Bar-Recorder {
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 70%;
    height: 200px;
  }
  .Recorder-Bar {
    display: flex;
    width: 15px;
    border-radius: 10px;
    background-color: yellow;
  }
  .RB-One {
    display: inherit;
    height: 50px;
  }
  .RB-One.Listening {
    animation: BarsPosition 1.5s infinite ease-in,
      BarsHeight 1.5s infinite ease-in;
  }
  .RB-Two {
    display: inherit;
    height: 90px;
  }
  .RB-Two.Listening {
    animation: BarsPosition 1.1s infinite ease-in,
      BarsHeight 1.1s infinite ease-in;
  }
  .RB-Three {
    display: inherit;
    height: 130px;
  }
  .RB-Three.Listening {
    animation: BarsPosition 0.9s infinite ease-in,
      BarsHeight 0.9s infinite ease-in;
  }
  .RB-Four {
    display: inherit;
    height: 180px;
  }
  .RB-Four.Listening {
    animation: BarsPosition 0.7s infinite ease-in,
      BarsHeight 0.7s infinite ease-in;
  }
  .RB-Five {
    display: inherit;
    height: 180px;
  }
  .RB-Five.Listening {
    animation: BarsPosition 0.75s infinite ease-in,
      BarsHeight 0.75s infinite ease-in;
  }
  .RB-Six {
    display: inherit;
    height: 130px;
  }
  .RB-Six.Listening {
    animation: BarsPosition 0.95s infinite ease-in,
      BarsHeight 0.95s infinite ease-in;
  }
  .RB-Seven {
    height: 90px;
  }
  .RB-Seven.Listening {
    animation: BarsPosition 1.15s infinite ease-in,
      BarsHeight 1.15s infinite ease-in;
  }
  .RB-Eight {
    display: inherit;
    height: 50px;
  }
  .RB-Eight.Listening {
    animation: BarsPosition 1.55s infinite ease-in,
      BarsHeight 1.55s infinite ease-in;
  }
  @keyframes BarsPosition {
    0% {
    }
    25% {
      margin-bottom: 50px;
    }
    50% {
      margin-top: 0;
      margin-bottom: 0;
    }
    75% {
      margin-top: 50px;
    }
    100% {
    }
  }
  @keyframes BarsHeight {
    0% {
      transform: scaleY(1.2);
    }
    25% {
      transform: scaleY(0.8);
    }
    50% {
    }
    75% {
      transform: scaleY(0.8);
    }
    100% {
      transform: scaleY(1.2);
    }
  }
  .Small-Record {
    width: 90%;
    height: 200px;
    background-color: cyan;
    position: absolute;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
  }

  .Circular-Recorder {
    display: none;
  }
  .Circle-Layer {
    display: none;
  }
  .Circle-Layer-Logo {
    display: none;
  }

  .Footer {
    flex-direction: column;
  }
}

/* Medium Screen */
@media (min-width: 640px) and (max-width: 1155px) {
  .Logo-Box {
    flex: 1 1 100%;
    height: 60px;
    width: 60px;
    margin-left: 20px;
  }
  .Logo {
    width: 60px;
    min-width: 60px;
  }

  .Nav-Items {
    display: none;
  }

  .Search-Area {
    float: right;
    background-color: #26c2ff;
    border-radius: 10px;
    display: flex;
    margin-right: 10px;
    color: white;
  }
  .Search-Box {
    padding-left: 10px;
    outline: none;
    color: white;
    margin: 0 auto;
    width: 200px;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    font-size: 20px;
  }
  .Search-Box:focus {
    width: 300px;
  }
  .Search-Button {
    width: 40px;
  }
  .Search-Button > .Img {
    height: 80%;
    width: 100%;
    transition: all 500ms ease-in-out;
  }
  .Search-Button > .Img:hover {
    transform: scale(1.1);
    filter: invert(100%);
  }

  .Toggle-Theme {
    padding: 0 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .Toggle-Theme > .Img {
    width: 30px;
  }
  .Toggle-Theme > .Img.ThemeChanged {
    content: url(../Assets/sun-solid.svg);
  }

  .Nav-Bar-Signup {
    display: none;
  }

  .Hamburger {
    padding: 0 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .Hamburger > .Img {
    width: 30px;
  }

  .Gooey {
    display: none;
  }
  .Bar-Recorder {
    display: none;
  }
  .Small-Record {
    display: none;
  }
}
/* Large Screen */
@media (min-width: 1155px) {
  .Logo-Box {
    height: 60px;
    width: 60px;
    margin: 0 20px;
  }
  .Logo {
    width: 60px;
    min-width: 60px;
  }

  .Nav-Items {
    flex: 1 1 100%;
    display: flex;
  }
  .Nav-Items a:hover {
    color: black;
  }
  .Nav-Bar.Nav-Bar-Transform .Nav-Items a:hover {
    color: #06f19f;
  }
  .Nav-Items-List {
    color: white;
    padding: 0px 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.25s ease-in-out;
  }
  .Nav-Bar.Nav-Bar-Transform .Nav-Items-List {
    color: black;
  }

  .Search-Area {
    float: right;
    background-color: #26c2ff91;
    border-radius: 10px;
    display: flex;
    margin-right: 10px;
    color: white;
  }
  .Nav-Bar.Nav-Bar-Transform .Search-Area {
    background-color: #26c2ff;
  }
  .Search-Box {
    padding-left: 20px;
    outline: none;
    margin: 0 auto;
    width: 200px;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: white;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
  }
  .Search-Box:focus {
    width: 300px;
  }
  .Search-Button {
    width: 40px;
  }
  .Search-Button > .Img {
    height: 80%;
    width: 100%;
    transition: all 500ms ease-in-out;
  }
  .Search-Button > .Img:hover {
    transform: scale(1.1);
    filter: invert(100%);
  }

  .Toggle-Theme {
    padding: 0 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .Toggle-Theme > .Img {
    width: 30px;
    transition: all 300ms ease-in-out;
  }
  .Toggle-Theme > .Img.ThemeChanged {
    content: url(../Assets/sun-solid.svg);
  }

  .Nav-Bar-Signup {
    height: 40px;
    background-color: #08f;
    border-radius: 8px;
    padding: 0 20px;
    margin: 0 15px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: black;
  }

  .Nav-Bar-Signup:hover {
    background-color: #06f19f;
  }

  .Hamburger {
    display: none;
  }

  .Gooey {
    display: none;
  }
  .Bar-Recorder {
    display: none;
  }
  .Small-Record {
    display: none;
  }

  .Hamburger-Window:target {
    transform: translateX(100%);
    visibility: hidden;
    opacity: 0;
  }
}

.action {
  position: relative;
}

.action .profile {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.action .profile img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.action .menu {
  position: absolute;
  top: 120px;
  right: -10px;
  padding: 10px 20px;
  background: #fff !important;
  width: 200px;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}

.action .menu.active {
  top: 80px;
  visibility: visible;
  opacity: 1;
  z-index: 100;
}

.action .menu::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 28px;
  width: 20px;
  height: 20px;
  background: #fff;
  transform: rotate(45deg);
}

.action .menu h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  color: #555;
  line-height: 1.5em;
}

.action .menu ul li {
  list-style: none;
  padding: 16px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
}

.action .menu ul li img {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: 0.5s;
}

.action .menu ul li:hover img {
  opacity: 1;
}

.action .menu ul li a {
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: 0.5s;
}

.action .menu ul li:hover a {
  color: #ff5d94;
}
