* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --clr-light: #ffff;
  --clr-dark: #1b1b1b;
  --clr-accent: #16d7a8;
  --clr-main-page: #00ccb1;
}
body {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #777;
  background-color: var(--clr-main-page);
}

/* Nav Bar */
.header {
  background-color: var(--clr-main-page);
  position: sticky;
  padding: 15px 0;
  top: 0;
  z-index: 10;
  width: 80%;
  -webkit-transition: width 0.3s ease-in-out;
  transform: width 0.3s ease-in-out;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.navbar-transform {
  background-color: white;
  width: 100%;
}

/* Big Screen */
@media (min-width: 800px) {
  .logo-box {
    /* outline: 1px solid green; */
    height: 60px;
    width: 60px;
    margin: 0 40px;
  }
  .nav-items {
    flex: auto;
  }
  .nav-items_btn {
    padding: 0px 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.25s ease-in-out;
  }
  .nav-items a:hover {
    color: #ffff00;
  }
  .search-area {
    float: right;
    background-color: #26c2ff;
    border-radius: 10px;
    display: flex;
    padding: 0 20px;
    margin-right: 20px;
    color: white;
  }

  .search-box {
    margin: 0 auto;
    width: 150px;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: white;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
  }
  .search-box:focus {
    width: 250px;
  }
  .search-btn-box {
    margin: 0 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .search-btn {
    padding: 10px 10px;
    width: 40px;
    transition: all 0.4s ease-in-out;
  }
  .search-btn:hover {
    filter: invert(100%);
    transform: scale(1.2);
  }
  .signin-btn {
    height: 40px;
    background-color: #08f;
    border-radius: 8px;
    padding: 0 20px;
    margin: 0 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: black;
  }
  .signin-btn:hover {
    background-color: #06f19f;
  }
  .hamburger-menu {
    display: none;
  }
}

/* Medium Screen */
@media (max-width: 1155px) {
  .logo-box {
    flex: 1 1 100%;
    /* outline: 1px solid green; */
    height: 60px;
    width: 60px;
    margin-left: 20px;
  }
  .logo {
    /* outline: 1px solid red; */
    width: 60px;
    min-width: 60px;
  }
  .nav-items {
    display: none;
  }
  .nav-items_btn {
    padding: 0px 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
  }
  .nav-items a:hover {
    color: red;
  }
  .search-area {
    float: right;
    background-color: #26c2ff;
    border-radius: 10px;
    display: flex;
    padding: 0 20px;
    margin-right: 20px;
    color: white;
  }
  .search-box {
    color: white;
    margin: 0 auto;
    width: 150px;
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    font-size: 14px;
  }

  .search-box:focus {
    width: 250px;
  }

  .search-btn-box {
    margin: 0 5px;
    border: none;
    background-color: transparent;
  }
  .search-btn {
    padding: 10px 10px;
    width: 40px;
  }
  .signin-btn {
    display: none;
    height: 40px;
    background-color: #08f;
    border-radius: 8px;
    color: #fff;
    padding: 0 20px;
    margin: 0 20px;
    /* display: flex; */
    align-items: center;
    cursor: pointer;
    border: none;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
  }
  .hamburger-menu {
    display: block;
    padding: 0 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .bars {
    width: 25px;
  }
}

/* Small Screen */
@media (max-width: 640px) {
  .header {
    width: 100%;
  }
  .logo-box {
    /* flex: 1 1 100%; */
    /* outline: 1px solid pink; */
    height: 60px;
    width: 60px;
    min-width: 60px;
    margin-left: 20px;
  }
  .logo {
    /* outline: 1px solid yellow; */
    width: 60px;
    min-width: 60px;
  }
  .nav-items {
    display: none;
  }
  .nav-items_btn {
    padding: 0px 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
  }
  .nav-items a:hover {
    color: cyan;
  }
  .search-area {
    /* float: right; */
    background-color: #26c2ff;
    border-radius: 10px;
    display: flex;
    padding: 0 20px;
    margin-right: 20px;
    color: white;
  }
  .search-box {
    color: white;
    margin: 0 auto;
    max-width: 100px;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    font-size: 14px;
  }

  .search-btn-box {
    margin: 0 5px;
    border: none;
    background-color: transparent;
  }
  .search-btn {
    padding: 10px 10px;
    width: 40px;
  }
  .signin-btn {
    display: none;
  }
  .form {
    width: 90% !important;
  }
  .hamburger-menu {
    display: inline;
    padding: 0 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .bars {
    width: 25px;
  }
}

/* Main Content */

/* Listenign Area */
.main-content {
  height: 80vh;
  background-color: var(--clr-main-page);
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
/* Big Screen Listening Button */
.Listening-circle {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  border: none;
  box-shadow: 0 0 0 0 rgba(0, 154, 178, 0.7);
}
/* Big Screen Listening Button animated */
.Listening-circle.listening {
  animation: pulsing1 1.2s infinite cubic-bezier(0.66, 0, 0, 1);
  animation-fill-mode: fill;
  transition: all 500ms ease-out;
}
@keyframes pulsing1 {
  to {
    box-shadow: 0 0 0 80vh rgba(232, 76, 61, 0);
  }
}
/* Big Screen Listening Button Rotating image*/
.Rotating-logo {
  width: 70px;
}
/* Big Screen Listening Button Rotating image animated*/
.Rotating-logo.listening {
  animation: rotate-image 3s infinite ease-in-out alternate-reverse;
}
@keyframes rotate-image {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Hiding Bars on big screen */
.listening-bars {
  display: none;
}
/* Hiding rec btn on big screen */
.rec-small {
  display: none;
}

/* Cureated for phone and small screen */
@media (max-width: 900px) {
  .Listening-circle {
    display: none;
  }
  .Listening-circle.listening {
    display: none;
  }
  .rec-small {
    display: block;
  }

  /* Blob behind the bars */
  .gooey {
    position: absolute;
    z-index: 1;
    background-image: linear-gradient(120deg, #34f0b1 0%, #d9ff00 100%);
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    width: 150px;
    height: 144px;
    transform-style: preserve-3d;
    /* outline: 1px solid transparent; */
    will-change: border-radius;
  }
  .gooey.listening,
  .gooey.listening:before,
  .gooey.listening:after {
    animation: morph 3s linear infinite;
  }
  .gooey:before,
  .gooey:after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    box-shadow: 5px 5px 89px rgba(0, 255, 200, 0.21);
    will-change: border-radius, transform, opacity;
    animation-delay: 200ms;
    background-image: linear-gradient(
      120deg,
      rgba(0, 255, 225, 0.55) 0%,
      rgb(0, 255, 174) 100%
    );
  }

  .gooey:before {
    /* animation: morph 3s linear infinite; */
    opacity: 0.21;
    animation-duration: 1.5s;
  }

  .gooey:after {
    /* animation: morph 3s linear infinite; */
    animation-delay: 400ms;
    opacity: 0.89;
    line-height: 120px;
    text-indent: -21px;
  }

  @keyframes morph {
    0%,
    100% {
      border-radius: 42% 58% 70% 30% / 45% 65% 55% 55%;
      transform: translate3d(6px, 8px, 12px) rotateZ(0.01deg);
      transform: scale(0.8);
    }
    34% {
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
      transform: translate3d(-6px, 15px, 10px) rotateZ(0.02deg);
      transform: scale(0.6);
    }
    50% {
      opacity: 0.89;
      transform: translate3d(0, 0, 0) rotateZ(0.01deg);
      transform: scale(0.69);
    }
    67% {
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
      transform: translate3d(6px, -13px, -15px) rotateZ(0.2deg);
    }
  }

  @keyframes fadeIn {
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }

  /* Listening Bars Starts here */
  .listening-bars {
    z-index: 2;
    /* background-color: #16d7a8; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 70%;
    height: 200px;
  }
  .music-bars {
    display: flex;
    width: 15px;
    border-radius: 10px;
    background-color: yellow;
  }
  .one {
    display: inherit;
    height: 50px;
  }
  .one.listening {
    display: inherit;
    height: 50px;
    animation: barss1 1.5s infinite ease-in;
  }
  @keyframes barss1 {
    0% {
      height: 60px;
    }
    25% {
      margin-bottom: 50px;
      height: 40px;
    }
    50% {
      margin-top: 0;
      margin-bottom: 0;
    }
    75% {
      margin-top: 50px;
      height: 40px;
    }
    100% {
      height: 60px;
    }
  }

  .two {
    height: 90px;
  }
  .two.listening {
    height: 90px;
    animation: barss2 1.1s infinite ease-in;
  }
  @keyframes barss2 {
    0% {
      height: 100px;
    }
    25% {
      margin-bottom: 50px;
      height: 80px;
    }
    50% {
      margin-top: 0;
      margin-bottom: 0;
    }
    75% {
      margin-top: 50px;
      height: 80px;
    }
    100% {
      height: 100px;
    }
  }
  .three {
    height: 130px;
  }
  .three.listening {
    height: 130px;
    animation: barss3 0.9s infinite ease-in;
  }
  @keyframes barss3 {
    0% {
      height: 140px;
    }
    25% {
      margin-bottom: 50px;
      height: 110px;
    }
    50% {
      margin-top: 0;
      margin-bottom: 0;
    }
    75% {
      margin-top: 50px;
      height: 110px;
    }
    100% {
      height: 140px;
    }
  }
  .four {
    height: 180px;
  }
  .four.listening {
    height: 180px;
    animation: barss4 0.7s infinite ease-in;
  }
  @keyframes barss4 {
    0% {
      height: 200px;
    }
    25% {
      margin-bottom: 50px;
      height: 180px;
    }
    50% {
      margin-top: 0;
      margin-bottom: 0;
    }
    75% {
      margin-top: 50px;
      height: 180px;
    }
    100% {
      height: 200px;
    }
  }
  .five {
    height: 180px;
  }
  .five.listening {
    height: 180px;
    animation: barss4 0.75s infinite ease-in;
  }
  @keyframes barss4 {
    0% {
      height: 200px;
    }
    25% {
      margin-bottom: 50px;
      height: 180px;
    }
    50% {
      margin-top: 0;
      margin-bottom: 0;
    }
    75% {
      margin-top: 50px;
      height: 180px;
    }
    100% {
      height: 200px;
    }
  }
  .six {
    height: 130px;
  }
  .six.listening {
    height: 130px;
    animation: barss3 0.95s infinite ease-in;
  }
  .seven {
    height: 90px;
  }
  .seven.listening {
    height: 90px;
    animation: barss2 1.15s infinite ease-in;
  }
  .eight {
    height: 50px;
  }
  .eight.listening {
    animation: barss1 1.55s infinite ease-in;
  }
  .rec-small {
    width: 90%;
    height: 200px;
    background-color: cyan;
    position: absolute;
    z-index: 3;
    opacity: 0;
    cursor: pointer;
  }
  .listening-bars.listening {
    width: 90%;
    animation: bargrow 0.7s infinite ease-in;
    animation-direction: alternate;
  }
  @keyframes bargrow {
    from {
      width: 70%;
    }

    to {
      width: 85%;
    }
  }
}
.btnn {
  display: block;
}

/* Window below listening window */
.stuff {
  background-color: yellow;
  height: 100vh;
}

/* Ham Window */
.Ham-window {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0);
  visibility: hidden;
  transition: all 250ms ease-in;
  transform: translateX(100%);
  opacity: 0;
}

.Ham-window:target {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}

.ham-window-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
  margin-top: 14.5px;
  height: 60px;
  width: 100%;
  background-color: transparent;
}
.ham-window-nav .logo {
  filter: invert(100%);
}
.closing-btn {
  height: 35px;
  width: 35px;
  margin: 0 15px;
  border-radius: 500px;
  float: right;
  background-color: white;
  clip-path: polygon(
    20% 0%,
    0% 20%,
    30% 50%,
    0% 80%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 80%,
    70% 50%,
    100% 20%,
    80% 0%,
    50% 30%
  );
}
.ham-window-content {
  margin: 20% 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: left;
}
.ham-window-btns {
  color: white;
  text-decoration: none;
  font-size: 40px;
  padding: 12px 0px;
}
.Ham-SignIn-box {
  display: flex;
  background-color: #1a1a1a;
  border-radius: 20px;
  width: 90%;
  margin: 0 auto;
  height: 70px;
  text-align: center;
  text-decoration: none;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.Ham-signin-desc {
  color: white;
  margin: 0 20px;
}

.Ham-SignIn-btn {
  display: flex;
  color: white;
  border-radius: 10px;
  background-color: #3c3c3c;
  width: 80px;
  height: 40px;
  text-decoration: none;
  margin: 0 20px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 580px) {
  .Ham-SignIn-box {
    background-color: #1a1a1a;
    height: 120px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    align-content: center;
  }
}

/* Signup popup */
.signup-page {
  position: fixed;
  z-index: 10;
  top: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  transition: opacity 500ms;
  opacity: 0;
}

.signup-page:target {
  visibility: visible;
  opacity: 1;
}

.form {
  position: relative;
  background-color: white;
  border-radius: 50px;
  height: 80%;
  width: 50%;
  overflow: hidden;
}
.Login-Signup-Pill {
  background-color: grey;
  width: 80%;
  height: 10%;
  border-radius: 50px;
  /* margin: 50px 43px; */
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}
.Selection-pill {
  position: absolute;
  z-index: 1;
  color: black;
  background-color: white;
  margin: 0 5px;
  width: 30%;
  height: 50px;
  transform: translateX(15%);
  border-radius: 50px;
  transition: all 600ms ease-in-out;
}
.Selection-pill.move-Signup {
  background-color: white;
  transform: translateX(145%);
}

.Login-Btn {
  z-index: 2;
  cursor: pointer;
  color: black;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  width: 49%;
  height: 95%;
  border-radius: 50px;
  text-decoration: none;
}
.Signup-Btn {
  z-index: 2;
  cursor: pointer;
  color: black;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  width: 49%;
  height: 95%;
  border-radius: 50px;
  text-decoration: none;
  transition: all 500ms ease-in-out;
}

.close-form {
  position: absolute;
  right: 10px;
  height: 30px;
  width: 30px;
  margin: 20px 20px;
  border: none;
  background-color: #008573;
  clip-path: polygon(
    20% 0%,
    0% 20%,
    30% 50%,
    0% 80%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 80%,
    70% 50%,
    100% 20%,
    80% 0%,
    50% 30%
  );
}

.Login-Btn {
  font-size: 20px;
}
.Signup-Btn {
  font-size: 20px;
}
.Login-Form {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 90%;
  height: 75%;
  border-radius: 30px;
  background-color: wheat;
  margin: 0 auto;
  padding: 20px 50px;
}
.Form-Title {
  font-size: 25px;
  color: white;
  right: 0px;
}

.Textbox {
  margin: 10px auto;
  width: 100%;
  height: 60px;
  background-color: #e5ebf5;
  border: none;
  border-radius: 15px;
  text-indent: 20px;
  color: #19122b;
  font-size: 20px;
  font-weight: 500;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: all 200ms ease-in-out;
}
.Textbox:focus {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  font-size: 21px;
}
.Form-Btn {
  margin: 0 auto;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: yellow;
  width: 110px;
  height: 50px;
  border-radius: 20px;
  text-decoration: none;
}

.Signup-Form {
  display: none;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: left;
  align-items: left;
  justify-content: left;
  width: 90%;
  height: 75%;
  border-radius: 30px;
  background-color: wheat;
  margin: 0 auto;
  padding: 20px 50px;
}
