<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <script src="/Script.js"></script>
    <title>Find-Tune</title>
  </head>
  <body>
    <header class="header" id="nav">
      <div class="logo-box">
        <img src="/static/Assets/search-icon.svg" alt="Logo" class="logo" />
      </div>
      <div class="nav-items">
        <a href="" class="nav-items_btn">My Libraries</a>
        <a href="" class="nav-items_btn">About</a>
        <a href="" class="nav-items_btn">Donate</a>
      </div>
      <div class="search-area">
        <input
          type="text"
          class="search-box"
          placeholder="Search Music"
          id="sb"
        />
        <button class="search-btn-box">
          <img
            src="/static/Assets/search-icon.svg"
            alt="Search"
            class="search-btn"
          />
        </button>
      </div>

      <a href="#Signup" class="signin-btn" onclick="disableScroll()">SignIn</a>

      <a class="hamburger-menu" href="#Ham-window">
        <img src="/static/Assets/bars.svg" alt="Bar" class="bars" />
      </a>
    </header>
    <section class="home-page">
      <section class="main-content">
        <button
          class="Listening-circle"
          onclick="Listening()"
          id="big-screen-listening"
        >
          <img
            src="/static/Assets/search-icon.svg"
            alt="Logo"
            class="Rotating-logo"
            id="Rotating-logo"
          />
        </button>
        <div class="gooey" id="gooey"></div>

        <ul class="listening-bars" id="lb">
          <l id="one" class="music-bars one"></l>
          <l id="two" class="music-bars two"></l>
          <l id="three" class="music-bars three"></l>
          <l id="four" class="music-bars four"></l>
          <l id="five" class="music-bars five"></l>
          <l id="six" class="music-bars six"></l>
          <l id="seven" class="music-bars seven"></l>
          <l id="eight" class="music-bars eight"></l>
        </ul>
        <button class="rec-small" onclick="smalllsn()" id="rs"></button>
      </section>
      <section class="stuff"></section>
    </section>

    <section class="Ham-window" id="Ham-window">
      <div class="ham-window-nav">
        <div class="logo-box">
          <img src="/static/Assets/search-icon.svg" alt="Logo" class="logo" />
        </div>
        <a href="" class="closing-btn"></a>
      </div>
      <div class="ham-window-content">
        <a class="ham-window-btns" href="">My Libraries</a>
        <a class="ham-window-btns" href="">About</a>
        <a class="ham-window-btns" href="">Donate</a>
        <!-- <a class="ham-window-btns" href="">Four</a> -->
        <div class="Ham-SignIn-box">
          <div class="Ham-signin-desc">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae
            facilis voluptate reprehenderit, recusandae doloribus maiores.
          </div>
          <div class="Ham-SignIn-btn-box">
            <a href="" class="Ham-SignIn-btn">SignIn</a>
          </div>
        </div>
      </div>
    </section>

    <section class="signup-page" id="Signup">
      <div class="form">
        <a href="" class="close-form" onclick="enableScroll()"></a>
        <div class="Login-Signup-Pill">
          <a class="Login-Btn" onclick="MovingpillLogin()" id="Login-Pill">
            Login</a
          >
          <a class="Signup-Btn" onclick="MovingpillSignup()" id="Signup-Pill">
            Signup</a
          >
          <div class="Selection-pill" id="SP"></div>
        </div>
        <div class="Login-Form" id="LPF">
          <div class="Form-Title">Username</div>
          <input type="text" class="Textbox Username"></input>
          <div class="Form-Title">Password</div>
          <input type="text" class="Textbox Password"></input>
          <a href="" class="Form-Btn">Login</a>

        </div>
        <div class="Signup-Form" id="SPF">
          <div class="Form-Title">Name</div>
          <input type="text" class="Textbox Name"></input>
          <div class="Form-Title">Email</div>
          <input type="text" class="Textbox Email"></input>
          <div class="Form-Title">Username</div>
          <input type="text" class="Textbox Username"></input>
          <div class="Form-Title">Password</div>
          <input type="text" class="Textbox Password"></input>
          <a href="" class="Form-Btn">Signup</a>
        </div>
      </div>
    </section>
  </body>
</html>
