{% extends "Home.html" %} {% block LoginSignupPage %}
<link rel="stylesheet" href="../static/CSS/LoginSignup.css" />
<section class="LoginSignupPage" id="LoginSignupPage">
  <div class="LoginSignup__Form">
    <a
      href="/"
      class="LoginSignup__Form--Close Button"
      onclick="enableScroll()"
    ></a>
    <div class="LoginSignup__Pill">
      <a
        class="LoginSignup__Pill--Login Button"
        onclick="MovePillToLogin()"
        id="Login-Button"
      >
        Login</a
      >
      <a
        class="LoginSignup__Pill--Signup Button"
        onclick="MovePillToSignup()"
        id="Signup-Button"
      >
        Signup</a
      >
      <div class="LoginSignup__Pill--SelectionPill" id="SelectionPill"></div>
    </div>
    <!--  -->

    <!--  -->
    <form method="POST" class="Login-Form" id="Login-Form" name="Login_Form">
      <!--  -->
      <div class="Form-Title">
        Username
        <input
          name="Username"
          type="text"
          class="Textbox Username"
          placeholder="AppleMan"
        />
        <small class="Login-Username Error-Message" id="Error-Message"> </small>
      </div>
      <!--  -->
      <div class="Form-Title">
        Password
        <input
          name="Password"
          type="password"
          class="Textbox Password"
          id="Login-Pass"
          placeholder="*********"
        />
        <a class="eye fa-solid fa-eye" id="eye" onclick="RevealPassword()"></a>
        <small class="Login-Password Error-Message" id="Error-Message"></small>
      </div>
      <a href="" class="Login-ForgotPassword Button">Forgot Password?</a>
      <!--  -->

      <button
        type="button"
        class="Submit Form-Login Button"
        onclick="Submit_SigninForm()"
      >
        Login
      </button>
    </form>
    <!--  -->
    <form method="POST" class="Signup-Form" id="Signup-Form" name="Signup_Form">
      <!--  -->
      <div class="Form-Title">
        Name
        <input
          name="FullName"
          type="text"
          class="Textbox Name"
          placeholder="Name"
          id="Signup-Name"
        />
        <small class="Signup-FullName Error-Message" id="Error-Message">
        </small>
      </div>
      <!--  -->
      <div class="Form-Title">
        Email
        <input
          name="Email"
          type="email"
          class="Textbox Email"
          placeholder="example@email.com"
          id="Signup-Email"
        />
        <small class="Signup-Email Error-Message" id="Error-Message"> </small>
      </div>
      <!--  -->
      <div class="Form-Title">
        Username
        <input
          name="Username"
          type="text"
          class="Textbox Username"
          placeholder="AppleMan"
          id="Signup-Username"
        />
        <small class="Signup-Username Error-Message" id="Error-Message"></small>
      </div>
      <!--  -->
      <div class="Form-Title">
        Password
        <input
          name="Password"
          type="password"
          id="Signup-Pass"
          class="Textbox Password"
          placeholder="*********"
          id="Signup-Password"
        />
        <button
          type="button"
          onclick="RevealPassword()"
          class="eye fa-solid fa-eye"
          id="eye-C"
        ></button>
        <small
          class="Signup-CPassword Error-Message"
          id="Error-Message"
        ></small>
      </div>
      <!--  -->
      <div class="Form-Title">
        Confirm Password
        <input
          name="CPassword"
          type="password"
          id="Signup-CPass"
          class="Textbox CPassword"
          placeholder="*********"
        />
        <small
          class="Signup-CPassword Error-Message"
          id="Error-Message"
        ></small>
      </div>
      <!--  -->
      <button
        class="Submit Form-Signup Button"
        id="Form-Btn"
        type="submit"
        onclick="Submit_SignupForm()"
      >
        Signup
      </button>
    </form>
  </div>
</section>
{% endblock %}
