<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/01c6376a08.js"
      crossorigin="anonymous"
    ></script>
    <script src="../static/Script.js"></script>
    <link rel="stylesheet" href="../static/CSS/Main.css" />
    <!-- {% block Style %} -->
    <link rel="stylesheet" href="../static/CSS/Home.css" />
    <!-- {% endblock %} -->

    <!-- <title>{% block Title %}Find-Tune{% endblock %}</title> -->
  </head>
  <body>
    <!-- {% block NavBar %} -->
    <header class="Nav-Bar" id="Nav-Bar">
      <div class="Logo-Box">
        <img src="../static/Assets/Logo.png" alt="Logo" class="Logo Img" />
      </div>
      <div class="Navbar Nav-Items">
        <a href="" class="Nav-Items-List Button">Apple</a>
        <a href="" class="Nav-Items-List Button">Apple2</a>
        <a href="" class="Nav-Items-List Button">Apple3</a>
      </div>
      <div class="Search-Area">
        <input
          type="text"
          class="Search-Box"
          placeholder="Title, Artist, Album"
          id="Search-Box"
        />
        <button class="Search-Button Button">
          <img
            src="../static/Assets/search-icon.svg"
            alt="Search"
            class="Img"
          />
        </button>
      </div>

      <button class="Toggle-Theme Button">
        <img src="../static/Assets/search-icon.svg" alt="Search" class="Img" />
      </button>

      <a href="" class="Nav-Bar-Signup Button">SIGNUP</a>
      <a href="" class="Hamburger Button">
        <img src="../static/Assets/bars.svg" alt="Bar" class="Img" />
      </a>
    </header>
    <!-- {% endblock %} {% block MusicListeningArea %} -->
    <section class="Listening-Area"></section>
    <!-- {% endblock %} -->
  </body>
</html>
