<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/01c6376a08.js"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='Script.js') }}"
    ></script>
    <link rel="stylesheet" href="../static/CSS/Main.css" />
    {% block Style %}
    <link rel="stylesheet" href="../static/CSS/Home.css" />
    {% endblock %}

    <title>{% block Title %}Find-Tune{% endblock %}</title>
  </head>
  <body>
    {% block NavBar %}
    <header class="Nav-Bar" id="Nav-Bar">
      <div class="Logo-Box">
        <img src="../static/Assets/Logo.png" alt="Logo" class="Logo Img" />
      </div>
      <div class="Navbar Nav-Items">
        <a href="" class="Nav-Items-List Button">My Library</a>
        <a href="" class="Nav-Items-List Button">About</a>
        <a href="" class="Nav-Items-List Button">Donate</a>
      </div>
      <div class="Search-Area">
        <input
          type="text"
          class="Search-Box"
          placeholder="Title, Artist, Album"
          id="Search-Box"
        />
        <button class="Search-Button Button">
          <img
            src="../static/Assets/search-icon.svg"
            alt="Search"
            class="Img"
          />
        </button>
      </div>
      <button
        class="Toggle-Theme Button"
        id="Toggle-Theme-Btn"
        onclick="Themeing()"
      >
        <img
          src="../static/Assets/moon-solid.svg"
          alt="Search"
          class="Img"
          id="Theme-Toggler-Icon"
        />
      </button>
      <a href="/LoginSignup" class="Nav-Bar-Signup Button">SIGNUP</a>
      <a href="#Hamburger-Window" class="Hamburger Button">
        <img src="../static/Assets/bars.svg" alt="Bar" class="Img" />
      </a>
    </header>
    {% endblock %} {% block MusicListeningArea %}
    <section class="Listening-Area">
      <button
        class="Circular-Recorder Button"
        onclick="Listening()"
        id="Circular-Recorder"
      >
        <div class="Circle-Layer Ellipse-One" id="Ellipse-One"></div>
        <div class="Circle-Layer Ellipse-Two" id="Ellipse-Two"></div>
        <div class="Circle-Layer Ellipse-Three" id="Ellipse-Three"></div>
        <img
          src="../static/Assets/Logo.png"
          alt="Logo"
          class="Circle-Layer-Logo Logo Img"
          id="Rotating-Logo"
        />
      </button>

      <div class="Gooey" id="Gooey"></div>

      <ul class="Bar-Recorder" id="Bar-Recorder">
        <l id="RB-One" class="Recorder-Bar RB-One"></l>
        <l id="RB-Two" class="Recorder-Bar RB-Two"></l>
        <l id="RB-Three" class="Recorder-Bar RB-Three"></l>
        <l id="RB-Four" class="Recorder-Bar RB-Four"></l>
        <l id="RB-Five" class="Recorder-Bar RB-Five"></l>
        <l id="RB-Six" class="Recorder-Bar RB-Six"></l>
        <l id="RB-Seven" class="Recorder-Bar RB-Seven"></l>
        <l id="RB-Eight" class="Recorder-Bar RB-Eight"></l>
      </ul>
      <button
        class="Small-Record Button"
        onclick="Listening2()"
        id="Small-Record-Button"
      ></button>
    </section>
    {% endblock %} {% block HamburgerWindow %}
    <section class="Hamburger-Window" id="Hamburger-Window">
      <div class="Hamburger-Window-NavBar">
        <div class="Logo-Box">
          <img src="../static/Assets/Logo.png" alt="Logo" class="Logo Img" />
        </div>
        <a href="" class="Hamburger-Window-Close Button"></a>
      </div>
      <div class="Hamburger-Content">
        <a href="" class="Hamburger-Items-List Button">My Libraries</a>
        <a href="" class="Hamburger-Items-List Button">About</a>
        <a href="" class="Hamburger-Items-List Button">Donate</a>
      </div>
      <div class="Signin-Box">
        <div class="Hamburger-Signin-Description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut delectus
          fuga, repudiandae quod, inventore voluptates, eos totam deleniti ipsam
          cumque blanditiis error nihil amet quo ipsum itaque eveniet ducimus
          maiores!
        </div>
        <a href="/LoginSignup" class="Nav-Bar-Signup Button">SIGNUP</a>
      </div>
    </section>
    {% endblock %} {% block LoginSignupPage %} {% endblock %} {% block Previews
    %} {% endblock %}
  </body>
</html>
