{% extends "Home.html" %} {% block LoginSignupPage %}
<link rel="stylesheet" href="../static/CSS/LoginSignup.css" />
<section class="LoginSignupPage" id="LoginSignupPage">
  <div class="LoginSignup__Form">
    <a
      href="/"
      class="LoginSignup__Form--Close Button"
      onclick="enableScroll()"
    ></a>
    <div class="LoginSignup__Pill">
      <a
        class="LoginSignup__Pill--Login Button"
        onclick="MovePillToLogin()"
        id="Login-Button"
      >
        Login</a
      >
      <a
        class="LoginSignup__Pill--Signup Button"
        onclick="MovePillToSignup()"
        id="Signup-Button"
      >
        Signup</a
      >
      <div class="LoginSignup__Pill--SelectionPill" id="SelectionPill"></div>
    </div>
    <!--  -->
    <div class="Login-Form" id="Login-Form">
      <!--  -->
      <div class="Form-Title">
        Username
        <input
          type="text"
          class="Textbox Username"
          placeholder="email@example.com"
        />
      </div>
      <!--  -->
      <div class="Form-Title">
        Password
        <div class="Password-Box">
          <input
            type="password"
            class="Textbox Password"
            id="Login-Pass"
            placeholder="*********"
          />
          <button
            class="eye fa-solid fa-eye"
            id="eye"
            onclick="RevealPassword()"
          ></button>
        </div>
      </div>
      <a href="" class="Login-ForgotPassword Button">Forgot Password?</a>
      <!--  -->
      <a href="" class="Submit Form-Login Button">Login</a>
    </div>
    <!--  -->
    <div class="Signup-Form" id="Signup-Form">
      <!--  -->
      <div class="Form-Title">
        Name
        <input
          type="text"
          class="Textbox Name"
          placeholder="Name"
          id="Signup-Name"
        />
      </div>
      <!--  -->
      <div class="Form-Title">
        Email
        <input
          type="email"
          class="Textbox Email"
          placeholder="example@email.com"
          id="Signup-Email"
        />
      </div>
      <!--  -->
      <div class="Form-Title">
        Username
        <input
          type="text"
          class="Textbox Username"
          placeholder="AppleMan"
          id="Signup-Username"
        />
      </div>
      <!--  -->
      <div class="Form-Title">
        Password
        <div class="Password-Box">
          <input
            type="password"
            id="Signup-Pass"
            class="Textbox Password"
            placeholder="*********"
            id="Signup-Password"
          />
          <button
            onclick="RevealPassword()"
            class="eye fa-solid fa-eye"
            id="eye-C"
            id="Signup-CPassword"
          ></button>
        </div>
      </div>
      <!--  -->
      <div class="Form-Title">
        Confirm Password
        <input
          type="password"
          id="Signup-CPass"
          class="Textbox CPassword"
          placeholder="*********"
        />
      </div>
      <!--  -->
      <button
        href="#Signup"
        class="Submit Form-Signup Button"
        id="Form-Btn"
        onclick="aa()"
      >
        Signup
      </button>
    </div>
  </div>
</section>
{% endblock %}
