{% extends "Home.html" %} {% block LoginSignupPage %}
<link rel="stylesheet" href="../static/CSS/LoginSignup.css" />
<section class="LoginSignupPage" id="LoginSignupPage">
  <div class="LoginSignup__Form">
    <a
      href="/"
      class="LoginSignup__Form--Close Button"
      onclick="enableScroll()"
    ></a>
    <div class="LoginSignup__Pill">
      <a
        class="LoginSignup__Pill--Login Button"
        onclick="MovePillToLogin()"
        id="Login-Button"
      >
        Login</a
      >
      <a
        class="LoginSignup__Pill--Signup Button"
        onclick="MovePillToSignup()"
        id="Signup-Button"
      >
        Signup</a
      >
      <div
        class="LoginSignup__Pill--SelectionPill Signup"
        id="SelectionPill"
      ></div>
    </div>
    <!--  -->

    <!--  -->
    <form
      method="POST"
      action=""
      class="Login-Form"
      id="Login-Form"
      name="Login_Form"
    >
      {{ form_login.hidden_tag() }}

      <!--  -->
      {{ form_login.email.label(class="Form-Title") }}
      <!--  -->
      {% if form_login.email.errors %}
      <!--  -->
      {{ form_login.email(placeholder="Eg: apple@gmail.com",class="Textbox
      Email") }}
      <div class="invalid-feedback">
        {% for error in form_login.email.errors %}
        <span class="Error-Message">{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      <!--  -->
      {{ form_login.email(placeholder="Eg: apple@gmail.com",class="Textbox
      Email") }}
      <!--  -->
      {% endif %}
      <!--  -->
      <!-- <div class="Form-Title">
        Username
        <input
          name="Username"
          type="text"
          class="Textbox Username"
          placeholder="AppleMan"
          required
          maxlength="20"
          minlength="5"
        />
      </div> -->
      <!--  -->
      <!--  -->
      <div class="Password-Box-Eye">
        {{ form_login.password.label(class="Form-Title") }}
        <!--  -->
        {% if form_login.password.errors %}
        <!--  -->
        {{ form_login.password(class="Textbox Password
        ",placeholder="*******",id="Login-Pass") }}
        <div class="invalid-feedback">
          {% for error in form_login.password.errors %}
          <span class="Error-Message">{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        <!--  -->
        {{ form_login.password(class="Textbox
        Password",placeholder="*******",id="Login-Pass") }}
        <button
          type="button"
          onclick="RevealPassword()"
          class="eye fa-solid fa-eye"
          id="eye"
        ></button>
      </div>
      <!--  -->
      {% endif %}
      <!-- <div class="Form-Title">
        Password
        <input
          name="Password"
          type="password"
          class="Textbox Password"
          id="Login-Pass"
          placeholder="Password"
          required
          maxlength="20"
          minlength="8"
        />
        <a class="eye fa-solid fa-eye" id="eye" onclick="RevealPassword()"></a>
      </div> -->
      <a href="" class="Login-ForgotPassword Button">Forgot Password?</a>
      <!--  -->
      {{ form_login.submit(value="LOGIN",class="Submit Form-Login Button") }}
    </form>
    <!--  -->
    <form
      method="POST"
      action=""
      class="Signup-Form"
      id="Signup-Form"
      name="Signup_Form"
    >
      {{ form_signup.hidden_tag() }}

      <!--  -->
      {{ form_signup.fullname.label(class="Form-Title") }}
      <!--  -->
      {% if form_signup.fullname.errors %}
      <!--  -->
      {{ form_signup.fullname(class="Textbox Name ",placeholder="Eg: Will
      Smith") }}
      <div class="invalid-feedback">
        {% for error in form_signup.fullname.errors %}
        <span class="Error-Message">{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      <!--  -->
      {{ form_signup.fullname(class="Textbox Name",placeholder="Eg: Will Smith")
      }}
      <!--  -->
      {% endif %}
      <!--  -->
      <!--  -->
      {{ form_signup.email.label(class="Form-Title") }}
      <!--  -->
      {% if form_signup.email.errors %}
      <!--  -->
      {{ form_signup.email(placeholder="Eg: apple@gmail.com",class="Textbox
      Email") }}
      <div class="invalid-feedback">
        {% for error in form_signup.email.errors %}
        <span class="Error-Message">{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      <!--  -->
      {{ form_signup.email(placeholder="Eg: apple@gmail.com",class="Textbox
      Email") }}
      <!--  -->
      {% endif %}
      <!--  -->
      <!--  -->
      {{ form_signup.username.label(class="Form-Title") }}
      <!--  -->
      {% if form_signup.username.errors %}
      <!--  -->
      {{ form_signup.username(class="Textbox Username ",placeholder="Eg: WillS")
      }}
      <div class="invalid-feedback">
        {% for error in form_signup.username.errors %}
        <span class="Error-Message">{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      <!--  -->
      {{ form_signup.username(class="Textbox Username",placeholder="Eg: WillS")
      }}
      <!--  -->
      {% endif %}
      <!--  -->
      <!--  -->
      <div class="Password-Box-Eye">
        {{ form_signup.password.label(class="Form-Title") }}
        <!--  -->
        {% if form_signup.password.errors %}
        <!--  -->
        {{ form_signup.password(class="Textbox Password
        ",placeholder="*******",id="Signup-Pass") }}
        <div class="invalid-feedback">
          {% for error in form_signup.password.errors %}
          <span class="Error-Message">{{ error }}</span>
          {% endfor %}
        </div>
        {% else %}
        <!--  -->
        {{ form_signup.password(class="Textbox
        Password",placeholder="*******",id="Signup-Pass") }}
        <button
          type="button"
          onclick="RevealPassword()"
          class="eye fa-solid fa-eye"
          id="eye-C"
        ></button>
      </div>
      <!--  -->
      {% endif %}
      <!--  -->
      {{ form_signup.cpassword.label(class="Form-Title") }}
      <!--  -->
      {% if form_signup.cpassword.errors %}
      <!--  -->
      {{ form_signup.cpassword(class="Textbox
      CPassword",placeholder="*******",id="Signup-CPass") }}
      <div class="invalid-feedback">
        {% for error in form_signup.cpassword.errors %}
        <span class="Error-Message">{{ error }}</span>
        {% endfor %}
      </div>
      {% else %}
      <!--  -->
      {{ form_signup.cpassword(class="Textbox
      CPassword",placeholder="*******",id="Signup-CPass") }}
      <!--  -->
      {% endif %}
      <!--  -->
      {{ form_signup.submit(value="SIGNUP",class="Submit Form-Signup Button") }}
    </form>
  </div>
</section>
{% endblock %}
